.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('iphone.jpg');
    background-size: cover;
  }

  mat-card-actions{

    display: flex;
    gap: 5px;

  }
  